@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins:wght@100;300&display=swap");
body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #131414;
    color: white;
    font-size: calc(0.6em + 0.6vw);
}

.formulario {
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    display: grid !important;
    justify-content: center;
    align-items: center;
}

.form-login {
    position: relative;
    background-color: #17202a;
    width: 45vw;
    min-height: 65vh;
    padding: 2% 7%;
    box-shadow: 0 0 30px black;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
}

.icon-logo {
    filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 10));
    height: 22vh;
}

.inputContainer {
    position: relative !important;
    min-height: 10vh;
    width: 100%;
    margin-bottom: 2%;
}

.input-login,
.input-login-error {
    position: absolute;
    padding: 1em;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 20px 20px 20px 20px;
    color: white;
    outline: none;
    background: none;
    z-index: 3;
}

.input-login-error {
    border: 2px solid red;
}

.labelformError,
.labelformErrorAct {
    font-size: 1rem;
    text-align: left;
    padding: 0;
    color: red;
    display: flex;
}

.labelformError {
    display: none;
}

.labelform {
    position: absolute !important;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: #17202a;
    transition: 0.5s;
    z-index: 1;
}

.eye {
    position: absolute;
    right: 10px;
    top: 35%;
    z-index: 3;
}

.eye:hover {
    cursor: pointer;
}

::placeholder {
    color: transparent;
}

.submitBtn {
    display: block;
    width: 50%;
    text-align: center;
    padding: 2% 2%;
    border: none;
    background-color: #46a525;
    font-weight: bold;
    color: white;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}

.submitBtn:hover {
    background-color: green;
    transform: translateY(-2px);
}

.input-login:focus+.labelform {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: calc(0.48em + 0.48vw) !important;
}

.input-login-error:focus+.labelform {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: calc(0.48em + 0.48vw) !important;
}

.input-login:not(:placeholder-shown)+.labelform {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: calc(0.48em + 0.48vw) !important;
}

.input-login-error:not(:placeholder-shown)+.labelform {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: calc(0.48em + 0.48vw) !important;
}

.input-login:focus {
    border: 2px solid green;
}

.input-login-error:focus {
    border: 2px solid red;
}

.titulo {
    text-align: left;
    font-size: calc(1.2em + 1.2vw) !important;
    font-weight: bold;
    margin-bottom: 4%;
}

a {
    color: #46a525;
    text-decoration: none;
}

a:visited {
    color: #46a525;
}

a.cancelBtn:visited {
    color: white;
}

a:hover {
    color: green;
}


/* BOTON DESLIZABLE*/


/* Formateamos el label que servirá de contenedor */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}


/* Ocultamos el checkbox html */

.switch input {
    display: none;
}


/* Formateamos la caja del interruptor sobre la cual se deslizará la perilla de control o slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, 0.5);
    -webkit-transition: .4s;
    transition: .4s;
}


/* Pintamos la perilla de control o slider usando el selector before */

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


/* Cambiamos el color de fondo cuando el checkbox esta activado */

input:checked+.slider {
    background-color: #46a525;
}


/* Deslizamos el slider a la derecha cuando el checkbox esta activado */

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Aplicamos efecto de bordes redondeados en slider y en el fondo del slider */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* SMARTPHONE */

@media screen and (min-width: 0px) and (max-width: 767px) and (min-height: 376px) and (max-height: 915px) {
    body {
        font-size: calc(1em + 1vw);
    }
    .formulario {
        padding-bottom: 0%;
        margin-bottom: 0%;
    }
    .form-login {
        border-radius: 30px 30px 0px 0px;
        -webkit-border-radius: 30px 30px 0px 0px;
        -moz-border-radius: 30px 30px 0px 0px;
        min-height: auto;
        min-height: 72vh;
        height: auto;
        width: 100vw;
    }
    .icon-logo {
        margin-top: 2%;
        height: 25vh;
    }
    .inputContainer {
        margin-bottom: 5%;
        height: 9vh;
    }
    .submitBtn {
        width: 100%;
    }
    .input-login:focus+.labelform {
        font-size: calc(0.6em + 0.6vw) !important;
    }
    .input-login-error:focus+.labelform {
        font-size: calc(0.6em + 0.6vw) !important;
    }
    .input-login:not(:placeholder-shown)+.labelform {
        font-size: calc(0.6em + 0.6vw) !important;
    }
    .input-login-error:not(:placeholder-shown)+.labelform {
        font-size: calc(0.6em + 0.6vw) !important;
    }
    .titulo {
        margin-top: 2%;
    }
}


/* TABLET */

@media screen and (min-width: 767px) and (max-width: 1023px) and (min-height: 915px) and (max-height: 1370px) {
    body {
        font-size: calc(1.3em + 1.3vw);
    }
    .form-login {
        width: 90vw;
        height: 60vh;
    }
    .icon-logo {
        height: 24vh;
    }
}