@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins:wght@100;300&display=swap");
body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #131414;
    color: white;
    font-size: calc(0.6em + 0.6vw);
}

.formulario {
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    display: grid !important;
    justify-content: center;
    align-items: center;
}

.form-registro {
    position: relative;
    background-color: #17202a;
    width: 45vw;
    min-height: auto;
    padding: 2% 7%;
    box-shadow: 0 0 30px black;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
}

.form-lg {
    margin-top: 3%;
    margin-bottom: 3%;
}

.inputContainer {
    position: relative !important;
    height: 10vh;
    width: 100%;
    margin-bottom: 2%;
}

.input-registro {
    position: absolute;
    padding: 1em;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 20px 20px 20px 20px;
    color: white;
    outline: none;
    background: none;
    z-index: 3;
}

.labelformErrorAct {
    font-size: 1rem;
    text-align: left;
    padding: 0;
    color: red;
    display: none;
}

.labelform {
    position: absolute !important;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: #17202a;
    transition: 0.5s;
    z-index: 1;
}

::placeholder {
    color: transparent;
}

.btn-aceptar {
    display: block;
    width: 25vw;
    text-align: center;
    padding: 15px 30px;
    border: none;
    background-color: #46a525;
    font-weight: bold;
    color: white;
    border-radius: 60px;
    cursor: pointer;
}

.btn-aceptar:hover {
    background-color: green;
    transform: translateY(-2px);
}

.btn-cancelar {
    display: block;
    width: 25vw;
    text-align: center;
    padding: 15px 30px;
    border: none;
    background-color: #ef2929;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-cancelar:hover {
    background-color: #a40000;
    transform: translateY(-2px);
}

.btn-registrar {
    display: block;
    width: 15vw;
    text-align: center;
    padding: 15px 30px;
    border: none;
    background-color: #46a525;
    font-weight: bold;
    color: white;
    border-radius: 60px;
    cursor: pointer;
}

.btn-registrar:hover {
    background-color: green;
    transform: translateY(-2px);
}

.btn-cancelar2 {
    display: block;
    width: 15vw;
    text-align: center;
    padding: 15px 30px;
    border: none;
    background-color: #ef2929;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-cancelar2:hover {
    background-color: #a40000;
    transform: translateY(-2px);
}

.input-registro:focus+.labelform {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: calc(0.48em + 0.48vw) !important;
}

.input-registro:not(:placeholder-shown)+.labelform {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: calc(0.48em + 0.48vw) !important;
}

.input-registro:focus {
    border: 2px solid green;
}

.titulo {
    font-size: calc(1em + 1vw) !important;
    font-weight: bold;
    margin-bottom: 2%;
}

a {
    color: #46a525;
    text-decoration: none;
}

a:visited {
    color: #46a525;
}

a.btn-cancelar:visited {
    color: white;
}

a:hover {
    color: green;
}

.icon {
    width: 300px;
}

select {
    position: relative;
    background: transparent;
    height: 9vh;
    width: 100%;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 20px 20px 20px 20px;
    color: white;
    margin-bottom: 2%;
}

select:focus {
    border: 2px solid green;
}

select option {
    background-color: #131414;
}


/* DESKTOP [ DEFAULT ] */


/*@media screen and (min-width: 1024px){
    Dejar comentado para que sea la resolución default de la página
}*/


/* SMARTPHONE */

@media screen and (min-width: 0px) and (max-width: 767px) and (min-height: 376px) and (max-height: 915px) {
    body {
        font-size: calc(1.1em + 1.1vw);
    }
    select {
        margin-bottom: 5%;
        height: 9vh;
    }
    .titulo {
        font-size: calc(1.4em + 1.4vw) !important;
        margin-bottom: 5%;
    }
    .formulario {
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .form-registro {
        border-radius: 30px 30px 30px 30px;
        -webkit-border-radius: 30px 30px 30px 30px;
        -moz-border-radius: 30px 30px 30px 30px;
        min-height: auto;
        width: 100vw;
    }
    .inputContainer {
        margin-bottom: 5%;
        height: 9vh;
    }
    .form-lg {
        margin-top: 6%;
        margin-bottom: 6%;
    }
    .btn-aceptar {
        width: 80vw;
    }
    .btn-cancelar {
        width: 80vw;
    }
    .btn-registrar {
        font-size: calc(0.76em + 0.76vw);
        width: 40vw;
    }
    .btn-cancelar2 {
        font-size: calc(0.76em + 0.76vw);
        width: 40vw;
    }
    .input-registro:focus+.labelform {
        font-size: calc(0.6em + 0.6vw) !important;
    }
    .input-registro:not(:placeholder-shown)+.labelform {
        font-size: calc(0.6em + 0.6vw) !important;
    }
    .reg {
        border-radius: 30px 30px 0px 0px;
        -webkit-border-radius: 30px 30px 0px 0px;
        -moz-border-radius: 30px 30px 0px 0px;
    }
}


/* TABLET */

@media screen and (min-width: 767px) and (max-width: 1023px) and (min-height: 915px) and (max-height: 1370px) {
    body {
        font-size: calc(1.3em + 1.3vw);
    }
    .form-registro {
        width: 90vw;
    }
    .btn-aceptar {
        width: 80vw;
    }
    .btn-cancelar {
        width: 80vw;
    }
}